* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 10px;
}

a,
button,
input,
textarea:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
    text-decoration: none;
    border: 0;
}

body {
    color: #393939;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.nav__container {
    background: #EAEFF7;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}

.navbar__menu ul {
    display: flex;
    justify-content: space-between;
}

.navbar__menu ul li a {
    font-size: 1.6rem;
    color: #393939;
    margin-right: 40px;
}

.navbar__menu ul li a:hover {
    color: #166BFF;
}

.btn__one {
    background: #393939;
    padding: 10px 15px;
}

.btn__one:hover {
    background: #166BFF;
}

.btn__one p {
    font-size: 1.6rem;
    color: #fff;
}

#main>a:nth-child(1)>img:nth-child(1) {
    width: 160px;
}

.navbar__contacts {
    display: flex;
    justify-content: end;
}

.navbar__phone {
    display: flex;
    align-items: center;
    margin-right: 35px;
}

.navbar__phone p {
    font-size: 1.6rem;
    margin-left: 5px;
}

.navbar__email {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.navbar__email p {
    font-size: 1.6rem;
    margin-left: 5px;
}

.navbar__soc {
    display: flex;
}

.navbar__soc a {
    margin-right: 10px;
}

.navbar__soc a:last-child {
    margin-right: 0px;
}

.main__container {
    background: url(img/bg.jpg) no-repeat top center;
    background-size: cover;
    height: 810px;
}

.main {
    display: flex;
    position: relative;
}

.main__car {
    position: absolute;
    z-index: 1;
    right: -13%;
    top: 100px;
}

.wrap h1 {
    color: #393939;
    font-size: 6.4rem;
    padding-top: 100px;
    margin-bottom: 40px;
}

.wrap h3 {
    color: #393939;
    font-size: 2.4rem;
    font-weight: normal;
}

.wrap p {
    color: #393939;
    font-size: 2.4rem;
    margin-bottom: 50px;
}

.btn__two {
    background: #166BFF;
    padding: 23px 70px 23px 70px;
    margin-bottom: 144px;
    border-radius: 100px;
}
.none__desctop{
    display: none;
}
.btn__two:hover {
    background: #333333;
}

.btn__two a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.wrap ul {
    display: flex;
    margin-bottom: 70px;
}

.wrap {
    position: absolute;
    top: 5%;
}

.wrap ul li {
    display: flex;
    align-items: center;
    background: #fff;
    margin-right: 30px;
    padding: 30px;
    z-index: 1000;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.wrap ul li img {
    margin-right: 15px;
}

.men {
    position: absolute;
    right: 0;
    z-index: 30;
    top: 183px;
}

.transportation {
    padding: 100px 0;
    position: relative;
}

.transportation__wrap {
    display: flex;
    justify-content: space-between;

}

.transportation__text {
    margin-right: 30px;
}

h2 {
    font-weight: bold;
    font-size: 3.6rem;
    color: #393939;
    margin-bottom: 45px;
}

.transportation__text p {
    font-size: 1.6rem;
    color: #393939;
    margin-bottom: 35px;
    width: 570px;
}

.transportation__order h3 {
    font-weight: bold;
    font-size: 2.4rem;
    color: #393939;
    margin-bottom: 35px;
}

.transporation__number {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 44px;
    color: #325FFF;
    margin-right: 10px;
}

.transportation__order ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90px;
}

.transportation__order ul li {
    display: flex;
    align-items: center;
}

.transportation__car {
    position: absolute;
    top: 30%;
    left: 55%;
}

.transportation__card {
    position: absolute;
    background: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 14px 34px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    top: 23%;
    left: 80%;
}

.transportation__card img {
    margin-right: 6px;
}

.transportation__order ul li h5 {
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: normal;
    color: #393939;
}

.choice__container {
    background: #EAEFF7;
    padding: 100px 0;
    height: 600px;
}

.choice .tabs {
    position: relative;
}

.choice .tab,
.choice .tab-title {
    display: inline-block;
}

.choice .tab input[type="radio"] {
    display: none;
}

.choice .tab-title {
    text-align: center;
    height: 70px;

}

.choice .tab-title p {
    margin-top: 20px;
}

.choice .tab-content {
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
    margin-top: 70px;
}

.choice .tab :checked+.tab-title {
    position: relative;
}


.choice .tab :checked~.tab-content {
    display: block;
}



.tab-content p {
    font-size: 1.6rem;
    font-weight: normal;
    color: #333333;
    text-align: center;
    margin-bottom: 30px;
}

.tab-content h5 {
    font-size: 1.6rem;
    color: #325FFF;
    text-align: center;
}

.tab h3 {
    font-size: 1.6rem;
    color: #FFFFFF;
    background: #333333;
    padding: 21px 48px;
    margin-right: 0;
    font-weight: normal;

}

.tab h3:hover {
    background: #325FFF;
}

.choice__car {
    display: flex;
    justify-content: center;

}

.choice__car img {
    margin-right: 30px;
    margin-bottom: 40px;
}

.choice__car img:last-child {
    margin-right: 0px;
}

.shipping__container {
    background: url(img/bg2.png) no-repeat top center;
    background-size: cover;
    padding-bottom: 75px;
    padding-top: 100px;
}

.shipping__list {
    display: flex;
    justify-content: space-between;
}

.shipping ul li {
    display: flex;
    margin-bottom: 35px;
    align-items: center;
}

.shipping ul li p {
    font-size: 1.6rem;
}

.shipping ul li img {
    margin-right: 12px;
}

.crossings__container {
    background: url(img/bg3.jpg) no-repeat top center;
    background-size: cover;
    padding: 100px 0;
}

.crossings ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.crossings ul li {
    background: #fff;
    padding: 30px 41px;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.title__white {
    color: #fff;
}

.crossings ul li h6 {
    font-size: 1.6rem;
    color: #166BFF;
    margin-bottom: 20px;
}

.crossings ul li p {
    font-size: 1.6rem;
    color: #333333;

}

.crossings ul li img {
    margin-bottom: 25px;

}

.movers {
    padding: 100px 0;
}

.movers ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px;
}

.movers ul li {
    align-items: center;
    text-align: center;
}

.movers ul li img {
    margin-bottom: 22px;

}

.movers ul li h4 {
    font-size: 1.6rem;
    text-align: center;
    font-weight: normal;
}

.title__center {
    text-align: center;
}

.movers p {
    text-align: center;
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 30px;
}

.movers h3 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 60px;
}

.loaders {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.loaders img {
    width: 33.3%;
}

.reviews__container {
    background: url(img/bg4.jpg) no-repeat top center;
    background-size: cover;
    padding: 100px 0;
}

/* Слайдер */
.slick-slider {
    min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
}

/* Стрелка */
.slick-arrow {
    border: 0;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
    border: 0;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
    border: 0;
}

/* Точки */
.slick-dots {
    border: 0;
    padding: 0;
}

.slick-dots li {

    border: 0;
}

.slick-dots button {
    border: 0;
}

.slider .slick-arrow.slick-disabled {
    opacity: 0.1;
}

/* Конкретный слайдер */
.slider {
    position: relative;
}


.slider .slick-dots {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: #DADADA;
    border-radius: 50%;
    outline: none;
}

.slider .slick-dots li.slick-active button {
    background-color: #325FFF;
}

.slider__item {
    padding: 0px 15px;
    text-align: center;
}

.reviews__slider {
    background: #fff;
    padding: 20px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 177px;
}

.reviews__slider ul {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.reviews__slider ul li {
    font-size: 1.6rem;
    font-weight: bold;
}

.reviews__slider ul li img {
    margin-right: 7px;
}

.reviews__slider {
    position: relative;
}

.reviews__slider p {
    font-size: 1.6rem;
    text-align: left;
}

.title {
    color: #fff;
    text-align: center;
    margin-top: 40px;
}

.reviews form {
    text-align: center;
}

.reviews form ul {
    display: flex;
    justify-content: center;
}

.reviews form input {
    padding: 18px;
    margin-bottom: 30px;
    font-size: 1.6rem;
    color: #000000;
    width: 350px;
    margin-right: 30px;

}

.reviews form input:last-child {
    margin-right: 0;

}

.reviews form textarea {
    padding: 18px;
    height: 160px;
    margin-bottom: 40px;
    font-size: 1.6rem;
    color: #000000;
    font-weight: normal;
    width: 760px;
    font-family: 'Montserrat', sans-serif;
    border: 0;
}


.reviews form button {
    padding: 18px;
    width: 800px;
    background: #325FFF;
    font-size: 1.6rem;
    color: #fff;
}

.reviews form button:hover {
    background: #333333;
}

.input__tel {
    margin-left: 30px;
}

.contacts__container {
    background: #EAEFF7;
    padding: 100px 0;
}

.contacts__wrap {
    display: flex;
    justify-content: space-between;
}

.contacts__text ul {
    margin-bottom: 82px;
}

.contacts__text ul li {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.contacts__text ul li img {
    margin-right: 5px;
}

.contacts__text ul li p {
    font-size: 1.6rem;
}

.form__contact input {
    background: #fff;
    padding: 0 0 0 25px;
    border-radius: 100px;
    font-size: 1.6rem;
    width: 345px;
    margin-bottom: 25px;
    color: #000000;
    height: 60px;
}

.form__contact button {
    margin-top: 15px;
    background: #325FFF;
    height: 60px;
    border-radius: 100px;
    font-size: 1.6rem;
    width: 370px;
    color: #fff;
}

.form__contact button:hover {
    background: #333333;
}

.footer__container {
    background: #333333;
    padding: 60px 0;
}

.footer__soc img {
    margin-right: 10px;
}

.footer__adress ul li {
    display: flex;

}

footer {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

footer ul li a {
    color: #fff;
    font-size: 1.6rem;
}

footer ul li p {
    font-size: 1.6rem;
}

footer ul li img {
    margin-right: 5px;
}

footer ul li {
    margin-bottom: 12px;
}

footer ul li a:hover {
    color: #166BFF;
}

.popup-fade,
.popup-fade__three {
    display: none;
    z-index: 9999999;
}

.popup-fade:before,
.popup-fade__three:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.popup,
.popup__three {
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 60px 40px;
    margin-left: -200px;
    background: #333333;
    border-radius: 10px;
    z-index: 99999;
    opacity: 1;
}

.popup-close,
.popup-close__three {
    padding-top: 10px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-size: 1.6rem;
}

.popup-fade__two,
.popup-fade__four,
.popup-fade__five,
.popup-fade__six {
    display: none;
}

.popup-fade__two:before,
.popup-fade__four:before,
.popup-fade__five:before,
.popup-fade__six:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.popup__two,
.popup__four,
.popup__five,
.popup__six {
    position: fixed;
    top: 200px;
    left: 50%;
    padding: 60px 40px;
    margin-left: -200px;
    background: #fff;
    border-radius: 10px;
    z-index: 99999;
    opacity: 1;
}

.popup-close__two,
.popup-close__four,
.popup-close__five,
.popup-close__six {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #333333;
    font-size: 1.6rem;
    padding-top: 10px;
}

.modal__thanks {
    font-size: 2.4rem;
    text-align: center;
    color: #166BFF;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal__text {
    font-size: 2.4rem;
    text-align: center;
    color: #166BFF;
    font-weight: bold;
    margin-bottom: 30px;
}

.modal__footer {
    font-size: 1.6rem;
    color: #333333;
    text-align: center;
    font-weight: normal;
}

.header_burger {
    display: none;
}

.header:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

@media screen and (min-width:768px) and (max-width: 1170px) {
    .container {
        width: 760px;
    }

    .nav__container {
        height: 150px;
    }

    .navbar__contacts {
        padding-top: 50px;
        position: relative;
        left: 74px;
    }

    .navbar__phone p {
        font-size: 1.4rem;
    }

    .navbar__email p {
        font-size: 1.4rem;
    }

    .navbar__contacts {
        justify-content: center;
    }

    .navbar__email {
        margin-right: 15px;
    }

    .navbar__menu ul li a {
        font-size: 1.4rem;
        margin-right: 30px;
    }

    .navbar__menu {
        display: block;
    }

    .navbar__menu ul {
        margin-bottom: 15px;
    }

    #menu>ul:nth-child(1)>li:nth-child(6)>a:nth-child(1) {
        margin-right: 0px;
    }

    .navbar__phone {
        margin-right: 15px;
    }

    #main>a:nth-child(1)>img:nth-child(1) {
        width: 150px;
    }

    .btn__one {
        background: #393939;
        padding: 10px 15px;
        float: right;
    }

    .main__car {
        width: 60%;
        right: 1%;
    }

    .men {
        width: 40%;
    }

    .wrap h1 {
        padding-top: 40px;
    }

    .btn__two {
        margin-bottom: 44px;
    }

    .main__container {
        height: 504px;
    }

    .wrap h1 {
        font-size: 5rem;
    }

    .wrap p {
        font-size: 1.6rem;
        margin-bottom: 40px;
    }

    .wrap h3 {
        font-size: 1.4rem;
    }

    .wrap ul li {
        padding: 20px;
    }

    .wrap ul li img {
        width: 40px;
    }

    h2 {
        margin-bottom: 30px;
    }

    .transportation {
        padding: 60px 0;
    }

    .transportation__text {
        width: 60%;
    }

    .transportation__text p {
        font-size: 1.4rem;
        width: 450px;
    }

    .transportation__car {
        left: 60%;
        width: 300px;
    }

    .transportation__card {
        left: 70%;
    }

    .transportation__car {
        top: 26%;
    }

    .transportation__order h3 {
        margin-bottom: 5px;
    }

    .transportation__map {
        width: 275px;
    }

    .tab h3 {
        font-size: 1.4rem;
        padding: 21px 20px;
    }

    .choice .tab-content {
        margin-top: 30px;
    }

    .choice__container {
        padding: 60px 0;
        height: 790px;
    }

    .tab h3 {
        font-size: 1.4rem;
        padding: 21px 20px;
    }

    .choice .tab-content {
        margin-top: 30px;
    }

    .choice__car {
        display: grid;
        grid-template-columns: repeat(2, 280px);
        gap: 10px;
    }

    .choice__car img {
        width: 280px;
    }

    style.css .shipping__container {
        padding-bottom: 35px;
        padding-top: 60px;
    }

    .shipping ul li p {
        font-size: 1.4rem;
    }

    .shipping__container {
        padding-bottom: 35px;
        padding-top: 60px;
    }

    .crossings__container {
        padding: 60px 0;
    }

    .crossings ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .crossings ul li p {
        font-size: 1.4rem;
    }

    .crossings ul li {
        padding: 30px 31px 50px 31px;
        height: 270px;
    }

    .crossings ul {
        margin-left: 15px;
    }

    .movers {
        padding: 60px 0;
    }

    .movers p {
        font-size: 1.4rem;
    }

    .reviews__container {
        padding: 60px 0;
    }

    .reviews__slider p {
        font-size: 1.4rem;
    }

    .contacts__container {
        padding: 60px;
    }

    .contacts__text ul li p {
        font-size: 1.4rem;
    }

    .contacts__wrap>iframe:nth-child(2) {
        height: 400px;
    }

    .contacts__container {
        padding: 60px 0;
    }

    .contacts__wrap>iframe:nth-child(2) {
        height: 450px;
    }

    .form__contact input {
        width: 280px;
    }

    .form__contact button {
        width: 300px;
    }

    .contacts__text ul {
        margin-bottom: 32px;
    }

    .contacts__wrap>iframe:nth-child(2) {
        width: 50%;
    }

    footer ul li a {
        font-size: 1.2rem;
    }

    footer ul li p {
        font-size: 1.2rem;
    }

    .reviews form input {
        width: 330px;
    }

    .reviews form textarea {
        width: 720px;
    }

    .reviews form button {
        width: 760px;
    }
}

@media screen and (min-width:480px) and (max-width: 767px) {
    #main>a:nth-child(1) {
        margin-top: 0px;
    }

    .navbar__contacts {
        margin-top: 0px;
        text-align: center;
    }

    nav {
        display: block;
        text-align: center;
    }

    .navbar__phone {
        margin-right: 0px;
    }

    .navbar__phone {
        margin-right: 0px;
    }

    /* body.lock {
        overflow: hidden;
    }

    .navbar {
        height: 30px;
    }

    .header_burger {
        display: block;
        position: absolute;
        right: 20px;
        width: 30px;
        height: 20px;
        z-index: 10005;
    }

    .header_burger:before,
    .header_burger:after {
        content: "";
        background-color: #333333;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header_burger:before {
        top: 0;
    }

    .header_burger:after {
        bottom: 0;
    }

    .header_burger span {
        position: absolute;
        background-color: #333333;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }

    .header_burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header_burger.active span {
        transform: scale(0);
        transition: all 0.3s ease 0s;
    }

    .header_burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .navbar__menu {
        position: fixed;
        top: -108%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 60px 0 0 0;
        transition: all 0.5s ease 0s;
        background-color: #EAEFF7;
        text-align: center;

    }

    .navbar__menu.active {
        z-index: 10000;
        top: 0px;
    }
    .navbar__menu {
        display: block;
        }
        .navbar__menu ul li a {
        margin-right: 0px;
        }
        .navbar__menu ul li {
        font-size: 14px;
        margin-bottom: 15px;
        }
        .btn__one > p:nth-child(1) {
        margin-bottom: 0px;
        }
    .header_list {
        display: block;
    } */

    .container {
        width: 95%;
    }

    .navbar__contacts {
        display: block;
    }

    .navbar__phone {
        margin-bottom: 10px;
    }

    .navbar__email p {
        font-size: 1.4rem;
    }

    .navbar__phone p {
        font-size: 1.4rem;
    }

    .navbar__email {
        margin-bottom: 10px;
    }

    .navbar__email {
        margin-right: 0px;
    }

    .nav__container {
        height: 190px;
    }

    #main>a:nth-child(1) {
        margin-top: 60px;
    }

    .navbar__menu ul {
        display: none;
    }

    .btn__one {
        display: none;
    }

    .navbar__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .men {
        width: 308px;
        top: 294px;
    }

    .main__car {
        width: 450px;

    }

    .main__car {
        top: 280px;
    }

    .wrap h1 {
        font-size: 3.4rem;
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .wrap p {
        font-size: 1.4rem;
        margin-bottom: 30px;
    }

    .wrap {
        width: 100%;
        text-align: center;
    }

    .nav__container {
        height: 240px;
    }

    .wrap h3 {
        font-size: 1.4rem;
    }

    .wrap ul li img {
        width: 40px;
    }

    .wrap ul li {
        display: block;
        padding: 20px;
        text-align: center;
    }

    .main__container {
        height: 620px;
    }

    .btn__two {
        margin-bottom: 184px;
        padding: 20px 70px 20px 70px;
    }

    .main__car {
        right: 0;
    }

    .transportation__order h3 {
        margin-bottom: 0px;
    }

    .transportation__car {
        top: 80%;
        left: 25%;
        width: 50%;
    }

    .transportation__text p {
        margin-bottom: 0px;
        width: 95%;
    }

    .transportation__car {
        top: 50%;
    }

    .crossings ul li {
        margin-right: 0px;
    }

    .crossings ul li img {
        width: 100%;
    }

    .transportation__order ul li h5 {
        font-size: 1.4rem;
    }

    .transportation__order ul {
        grid-template-rows: 70px;
    }

    .transportation {
        padding: 60px 0 60px 0;
    }

    .transportation__car {
        top: 55%;
    }

    .transportation__wrap {
        display: block;
    }

    .transportation__card {
        top: 47%;
        left: 50%;
    }

    .transportation__map {
        width: 100%;
    }

    .choice__container {
        padding: 60px 0;
    }

    .transportation__text p {
        font-size: 1.4rem;
        margin-bottom: 25px;
        width: 476px;
    }

    h2 {
        margin-bottom: 35px;
    }


    .choice__car img {
        margin-bottom: 0px;
        width: 100%;
    }

    h2 {
        font-size: 2.6rem;
    }

    .shipping__container {
        padding-top: 40px;
    }

    .shipping__list {
        display: block;
    }

    .shipping ul li {
        margin-bottom: 15px;
    }

    .shipping__container {
        padding-bottom: 45px;
    }

    .crossings__container {
        padding: 0px 0;
    }

    .crossings ul {
        display: block;
    }

    .crossings__container {
        padding: 40px 0;
    }

    h2 {
        margin-bottom: 35px;
    }

    .movers {
        padding: 60px 0;
    }

    .movers ul li img {
        width: 50px;
    }

    .movers ul li h4 {
        font-size: 1.4rem;
    }

    .movers ul {
        grid-template-rows: 120px;
    }

    .movers p {
        font-size: 1.4rem;
    }

    .movers h3 {
        margin-bottom: 30px;
    }

    .reviews__container {
        padding: 60px 0;
    }

    .reviews form input {
        width: 90%;
    }

    .reviews form textarea {
        width: 760px;
        width: 90%;
    }

    .reviews form ul {
        display: block;
    }

    .reviews form input:last-child {
        margin-left: 0px;
    }

    .contacts__container {
        padding: 60px 0;
    }

    .contacts__wrap {
        display: block;
    }

    .contacts__text ul li p {
        font-size: 1.4rem;
    }

    .form__contact input {
        width: 90%;
    }

    .reviews form button {
        width: 98%;
    }

    .form__contact button {
        width: 95%;
    }

    .contacts__text ul {
        margin-bottom: 22px;
    }

    footer {
        display: block;
        text-align: center;
    }

    .contacts__wrap>iframe:nth-child(2) {
        width: 100%;
        height: 300px;
        margin-top: 20px;
    }

    .footer__soc {
        margin-bottom: 15px;
    }

    .popup__two,
    .popup__four,
    .popup__five,
    .popup__six {

        top: 250px;
        left: 44%;
    }

    .footer__adress ul li {
        display: flex;
        justify-content: center;

    }

    .footer__adress>ul:nth-child(1) {
        margin-top: 30px;
    }

    .loaders {
        display: block;
    }

    .loaders img {
        width: 100%;
    }

    .tab h3 {
        font-size: 1.1rem;
        padding: 22px 5px;
    }

    .choice .tabs {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        row-gap: 10px;
        justify-content: center;
    }

    .choice .tab {
        width: 10px;
    }

    .choice__car {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .choice .tab-title {
        width: 98px;
        height: 55px;
    }

    .choice__container {
        height: 690px;
    }

    .choice__car img {
        margin-bottom: 0px;
        width: 100%;
    }

    .tab-content p {
        font-size: 1.4rem;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .choice .tab-content {
        margin-top: 90px;
    }

    .tab .tab-new {
        margin-top: 28px;
    }

    .transportation__text p {
        width: 100%;
    }

    .transportation__car {
        width: 40%;
    }

    .choice__container {
        height: 570px;
    }

    .wrap h1 {
        font-size: 3.4rem;
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .wrap p {
        font-size: 1.4rem;
        margin-bottom: 30px;
    }

    .navbar__phone p {
        font-size: 1.6rem;
    }

    .navbar__email p {
        font-size: 1.6rem;
    }

    .navbar__email {
        margin-bottom: 15px;
    }

    .navbar__phone {
        margin-bottom: 15px;
    }

    .nav__container {
        height: 250px;
    }

    #main>a:nth-child(1)>img:nth-child(1) {
        margin-bottom: 15px;
    }

    .navbar__soc a {
        margin-right: 15px;
    }

    nav a img {
        width: 40px;
    }
}

@media screen and (max-width: 479px) {

    /* body.lock {
        overflow: hidden;
    }

    .navbar {
        height: 30px;
    }

    .header_burger {
        display: block;
        position: absolute;
        right: 20px;
        width: 30px;
        height: 20px;
        z-index: 10005;
    }

    .header_burger:before,
    .header_burger:after {
        content: "";
        background-color: #333333;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header_burger:before {
        top: 0;
    }

    .header_burger:after {
        bottom: 0;
    }

    .header_burger span {
        position: absolute;
        background-color: #333333;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }

    .header_burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header_burger.active span {
        transform: scale(0);
        transition: all 0.3s ease 0s;
    }

    .header_burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .navbar__menu {
        position: fixed;
        top: -108%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 60px 0 0 0;
        transition: all 0.5s ease 0s;
        background-color: #EAEFF7;
        text-align: center;

    }

    .navbar__menu.active {
        z-index: 10000;
        top: 0px;
    }

    .header_list {
        display: block;
    } */
    nav {
        display: block;
        text-align: center;
    }

    .nav__container {
        text-align: center;
    }

    .container {
        width: 90%;
    }

    .navbar__menu {
        display: none;
    }

    .navbar__menu ul li a {
        margin-right: 0px;
    }

    .navbar__menu ul li {
        margin-bottom: 15px;
    }

    .navbar__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar__phone {
        margin-bottom: 10px;
    }

    .navbar__email {
        margin-bottom: 10px;
    }

    .nav__container {
        height: 200px;
    }

    #main>a:nth-child(1) {
        margin-top: 60px;
    }

    .navbar__menu ul {
        display: block;
    }

    .main__car {
        top: 280px;
    }

    .main__container {
        height: 534px;
    }

    .men {
        top: 283px;
        width: 218px;
    }

    .wrap h1 {
        font-size: 3.4rem;
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .btn__two {
        margin-bottom: 144px;
    }

    .wrap p {
        font-size: 1.4rem;
        margin-bottom: 30px;
    }

    .navbar__phone p {
        font-size: 1.6rem;
    }

    .navbar__email p {
        font-size: 1.6rem;
    }

    .navbar__email {
        margin-bottom: 15px;
    }

    .navbar__phone {
        margin-bottom: 15px;
    }

    .nav__container {
        height: 250px;
    }

    #main>a:nth-child(1)>img:nth-child(1) {
        margin-bottom: 15px;
    }

    .navbar__soc a {
        margin-right: 15px;
    }

    .navbar__phone {
        margin-right: 0px;
    }

    .wrap {
        width: 100%;
        text-align: center;

    }

    .wrap h3 {
        font-size: 1.2rem;
    }

    .wrap ul li {
        padding: 10px;
    }

    .btn__two {
        margin-bottom: 144px;
    }

    .main__container {
        height: 514px;
    }

    .wrap ul li {
        margin-right: 10px;
    }

    .wrap ul li img {
        margin-right: 0px;
    }

    .btn__two a {
        font-size: 14px;
    }

    .btn__two {
        padding: 13px 70px 13px 70px;
    }

    .wrap ul li img {
        width: 40px;
    }

    .wrap ul li {
        display: block;
        text-align: center;
    }

    .main__car {
        right: 0;
    }

    .transportation__card {
        top: 54%;
        left: 30%;
    }

    .transportation__car {
        width: 60%;
        top: 60%;
    }

    .transportation__text {
        margin-right: 0px;
    }

    .transportation__text {
        margin-right: 0px;
    }

    .transportation__text p {
        font-size: 1.4rem;
        width: 100%;
    }

    .transportation__text p {
        margin-bottom: 0px;
    }

    .transportation {
        padding: 40px 0 40px 0;
    }

    .transportation__order ul li h5 {
        font-size: 1.2rem;
    }

    .transportation__order {
        margin-top: 60px;
    }

    .transporation__number {
        font-size: 1.6rem;
    }

    .transportation__order h3 {
        margin-bottom: 0px;
    }

    .transportation__car {
        left: 25%;
    }

    .choice__container {
        padding: 40px 0;
    }

    .shipping__container {
        padding-top: 60px;
        padding-top: 40px;
    }

    .crossings__container {
        padding: 40px 0;
    }

    .movers {
        padding: 40px 0;
    }


    .transportation__order ul {
        grid-template-rows: 70px;
    }

    .transportation__wrap {
        display: block;
    }

    .transportation__map {
        width: 100%;
    }

    .transportation__text p {
        margin-bottom: 25px;
    }

    h2 {
        margin-bottom: 35px;
    }

    .tab h3 {
        font-size: 1.1rem;
        padding: 22px 5px;
    }

    .choice .tabs {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        row-gap: 10px;
        justify-content: center;
    }

    .choice .tab {
        width: 10px;
    }

    .choice__car {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .choice .tab-title {
        width: 98px;
        height: 55px;
    }

    .choice__container {
        height: 630px;
    }

    .choice__car img {
        margin-bottom: 0px;
        width: 100%;
    }

    .tab-content p {
        font-size: 1.4rem;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .choice .tab-content {
        margin-top: 90px;
    }

    h2 {
        font-size: 2.6rem;
    }

    .shipping__list {
        display: block;
    }

    .shipping ul li {
        margin-bottom: 15px;
    }

    .shipping__container {
        padding-bottom: 45px;
    }

    .crossings__container {
        padding: 40px 0;
    }

    .crossings ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        margin-bottom: 35px;
    }

    .crossings ul li {
        padding: 20px 21px;
        margin-right: 0px;
        margin-bottom: 20px;
        width: 80%;
        display: flex;
        flex-direction: column;

    }

    .crossings ul li p {
        font-size: 1.4rem;
    }

    .movers ul li img {
        width: 50px;
    }

    .crossings ul li img {
        width: 100%;
    }

    .movers ul li h4 {
        font-size: 1.4rem;
    }

    .movers ul {
        grid-template-rows: 120px;
    }

    .movers h3 {
        margin-bottom: 30px;
    }

    .movers p {
        font-size: 1.4rem;

    }

    .movers ul {
        display: block;
    }

    .movers ul li {
        margin-bottom: 15px;
    }

    .reviews__slider p {
        font-size: 1.4rem;
    }

    .reviews__slider ul {
        margin-bottom: 10px;
    }

    .reviews form input {
        width: 85%;
    }

    .footer__container {
        padding: 40px 0 30px 0;
    }

    .reviews__container {
        padding: 40px 0;
    }

    .reviews form textarea {
        width: 85%;
    }

    .form__contact button {
        width: 93%;
    }

    .reviews form ul {
        display: block;
    }

    .reviews form textarea {
        margin-bottom: 30px;
    }

    .reviews form input:last-child {
        margin-left: 0px;
    }

    .contacts__text ul li {
        margin-bottom: 20px;
    }

    .form__contact input {
        width: 85%;
    }

    .contacts__container {
        padding: 40px 0;
    }

    .contacts__text ul {
        margin-bottom: 42px;
    }

    .form__contact button {
        margin-bottom: 25px;
    }

    .footer__soc {
        margin-bottom: 30px;
    }

    .contacts__wrap {
        display: flex;
        flex-direction: column;

    }

    .contacts__text>form:nth-child(2) {
        text-align: center;
    }

    .contacts__text ul li p {
        font-size: 1.4rem;
    }

    .form__contact input {
        width: 85%;
    }

    .reviews form button {
        width: 95%;
    }

    footer {
        display: block;
        text-align: center;
    }

    .contacts__wrap>iframe:nth-child(2) {
        width: 100%;
        height: 300px;
        margin-top: 20px;
    }


    .popup__two,
    .popup__four,
    .popup__five,
    .popup__six {

        top: 250px;
        left: 44%;
    }

    .wrap h1 {
        margin-bottom: 30px;
        margin-bottom: 20px;
    }

    .main__car {
        width: 300px;
    }

    .navbar__email {
        margin-right: 0px;
    }

    .footer__adress ul li {
        display: flex;
        justify-content: center;

    }

    .footer__adress>ul:nth-child(1) {
        margin-top: 30px;
    }

    .loaders {
        display: block;
    }

    .loaders img {
        width: 100%;
    }

    .tab .tab-new {
        margin-top: 28px;
    }

    nav a img {
        width: 40px;
    }

    .wrap ul {
        justify-content: center;
    }

    .wrap ul li {
        width: 30;
    }

    .wrap>ul:nth-child(4)>li:nth-child(3) {
        margin-right: 0px;
    }

    h2 {
        text-align: center;
    }

    .footer__soc img {
        width: 40px;
        margin-right: 15px;
    }
    .transportation__order h3 {
        text-align: center;
        }
        .transportation__order ul li h5 {
        font-size: 1.4rem;
        }
        .transporation__number {
        font-size: 1.8rem;
        }
        .popup__two, .popup__four, .popup__five, .popup__six {
            width: 220px;
            }
            .popup__two, .popup__four, .popup__five, .popup__six {
            left: 65%;
            }
            .modal__text {
                font-size: 2rem;
                }
                .modal__thanks {
                font-size: 2rem;
                }
                .popup-close__two, .popup-close__four, .popup-close__five, .popup-close__six {
                font-size: 1.2rem;
                }
                .popup__two, .popup__four, .popup__five, .popup__six {
                    top: 100px;
                    }
}